.arena {
    height: 100vh;
    width: 69%;
    background-image: url("../../../../public/img/assets/battle-template.png") !important;
    background-size: contain;
    background-repeat: no-repeat;
    div {
        height: 50%;
    }
}

#game-container {
    display: none;
}

// Gestion des sprites des pokémons
.player-pokemon {
    img {
        height: 80%;
        left: 20%;
        position: relative;
        z-index: 1;
    }
}

.enemy-pokemon {
    img {
        height: 80%;
        position: relative;
        left: 67%;
        top: 80%;
    }
}

.player-attacks-row {
    gap: 2%;
    margin-left: 7%;
    .player-attack {
        font-size: large;
        cursor: pointer;
        text-align: center;
        background-color: white;
        border-radius: 10px;
        width: 45%;
        border: 1px solid black;
    }
}
