.arena {
    height: 100vh;
    width: 69%;
    background-image: url("../../../../public/img/assets/battle-template.png") !important;
    background-size: contain;
    background-repeat: no-repeat;
    div {
        height: 50%;
    }
}

#game-container {
    display: none;
}

// Gestion des sprites des pokémons
.player-pokemon {
    img {
        height: 80%;
        left: 20%;
        position: relative;
        z-index: 1;
    }
}

.enemy-pokemon {
    img {
        height: 80%;
        position: relative;
        left: 67%;
        top: 80%;
    }
}

.player-attacks-row {
    gap: 8%;
    margin-left: 7%;
    .player-attack {
        font-size: large;
        cursor: pointer;
        text-align: center;
        background-color: whitesmoke;
        border-radius: 10px;
        width: 40%;
        border: 1px solid black;
        box-shadow: 0 0 5px 2px black;
        &:hover {
            transform: scale(1.1);
            transition: 0.5s;
        }
    }
}

// ----------- Partie droite de la page ----------------
.fight-informations {
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    background-color: black;
    gap: 5%;
    width: 32%;
    height: 100vh;
    h1 {
        color: white;
        margin-left: 4%;
    }
}

.information {
    color: white;
    margin-left: 4%;
    border: 1px solid whitesmoke;
    padding: 2%;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 5px 2px white;
}
