.arena {
    height: 100vh;
    width: 69%;
    background-image: url("../../../../public/img/assets/battle-template.png") !important;
    background-size: contain;
    background-repeat: no-repeat;
    div {
        height: 50%;
    }
}

#game-container {
    display: none;
}

// Gestion des sprites des pokémons
.player-pokemon {
    img {
        height: 80%;
        left: 20%;
        position: relative;
        z-index: 1;
    }
}

.enemy-pokemon {
    img {
        height: 80%;
        position: relative;
        left: 67%;
        top: 80%;
    }
}

.player-attacks-row {
    gap: 8%;
    margin-left: 7%;
    .player-attack {
        font-size: large;
        cursor: pointer;
        text-align: center;
        background-color: whitesmoke;
        border-radius: 10px;
        width: 40%;
        border: 1px solid black;
        box-shadow: 0 0 5px 2px black;
        &:hover {
            transform: scale(1.1);
            transition: 0.5s;
        }
    }
}

// ----------- Partie droite de la page ----------------

.informations {
    background-color: black;
    width: 32%;
    height: 100vh;
    div {
        width: 100%;
        border: 2px solid white;
        h1 {
            text-align: center;
            color: white;
            width: 100%;
            height: 15%;
            padding: 0%;
            margin: 0%;
        }
    }
}

.fighters-informations {
    height: 50%;
}

.fight-informations {
    overflow-y: auto;
    width: 100%;
    height: 50vh;
    h1 {
        // position: fixed;
    }
    // flex-direction: column-reverse;
}

.information {
    height: 20% !important;
    width: 100% !important;
    color: white;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0 0 5px 2px white !important;
}
// Barres de vie
