@font-face {
    font-family: "Pokemon";
    src: url(./pokemon.ttf);
}

* {
    font-family: "Pokemon", sans-serif !important;
    font-size: x-large;
}

#pre-game-container {
    height: 100vh;
    display: block;
    background-image: url("../../../../public/img/assets/pre-game-background.gif") !important;
    justify-content: center !important;
    text-align: center !important;
    align-items: center !important;
}

.cards {
    gap: 20px;
    align-items: center !important;
    justify-content: center !important;
    :hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: 0.5s;
    }
}

.card {
    width: 200px !important;
    align-items: center;
    img {
        height: 100px !important;
        width: 100px !important;
    }
}
